body {
    position: relative;
    background-color: #212121;
    color: white;
    }
* {
      box-sizing: border-box;
    } 
 
#content {
    margin: 20px auto;
}    

#cart {
    display: none;
    position: absolute;
    left: 49%;
    top: 56px;
    border: 2px solid white;  
    background-color: #212121;
    border-radius: 10px;
}

#cartButton {
    border: none;
}

#profile_nav{
    width: 40vw;
    height: 4vw;
    border: 2px solid white;
    border-radius: 20px;
}


#profile_nav_info {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@media (min-width: 992px) { 
    #cart{
    display: none;
    position: absolute;
    left: 66%;
    top: 56px;
    border: 2px solid white;  
    background-color: #212121;
    border-radius: 10px; 
    }
}

#profile_nav_info button {
    background-color: #212121;
    border: none;
    font-size: 1.7vw;
    color: rgb(255, 253, 253);
    margin: 3px auto;
    padding: auto;
    outline: none;
}

#profile_display {
    display: none;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

#profile_display div {
    text-align: left;
}
     
#profile_display > div > p > span {
    margin-left: 20px;
}

#edit {
   display: flex;
   justify-content: center;
}

#edit > button {
    border-radius: 9px;
}

#submit2 {
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 768px) {

    #profile_nav{
        width: 50vw;
        height: 7vw;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 20px;
    }
    #profile_nav_info button {
        background-color: #212121;
        border: none;
        font-size: 3.3vw;
        color: white;
        margin: 2px auto;
        padding: auto;
        outline: none;
    }

    p{
        font-size: 12px
    }
    
}
