{% extends "base.html" %}
{% block title %}
 profile
{% endblock %}
{% block content %}

  <div class="container">
         <div class="col-12">
            <section>
                <div>
                    <h2>My profile</h2>
                    <div class="mx-auto " id="profile_nav">
                     <div id= "profile_nav_info">
                        <button id="first">User Information</button>
                        <button id="second">Orders </button>
                     </div>
                    </div>
                    <div class="row">
                      <div class="col-12"> 
                        <div>
                          
                        </div>
                      </div>
                    </div>
                </div>
            </section>
         </div>
  </div>
{% endblock %}